h1{color: red;}
h2{color: blue;}
h3{color: rgb(246, 34, 15);}
h4{color: brown;}
p{color: navy;}
.aboutskill{background-color: rgb(166, 249, 175);}

form{text-align: center;}

header{
    background-color: rgb(111, 111, 249);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a{color: rgb(249, 246, 246);}



ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 24px;
}

.am{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.am1{
    background-color: aquamarine;
    width: 100%;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}



.aboutskill{display: flex;
flex-direction: column;
justify-content: center;
align-items:center;}

#skill{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

p{max-width: 540px;}

#contact{
    background-color: rgb(240, 192, 174);
display: flex;
flex-direction: column;
justify-content: centre;
align-items:center;}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(243, 129, 58);
    gap: 24px;
}

